@page
@using Microsoft.AspNetCore.Hosting;
@using System.Linq;
@model Test.Pages.ProjectsModel
@{
}

<section>
    <div class="container" style="padding: 0 73px">
        <h1 style="margin-left: 7px">Projects</h1>
        <div class="flex">
            @foreach (var project in Model.projects)
            {
                var random = new Random();
                List<string> primaryColours = new List<string> { "#4365e2ec", "#ff6264ec", "#01d17cec" };
                List<string> secondaryColours = new List<string> { "#f4cec3ec", "#ffecd2ec", "#d1e2f2ec", "#c4ebd0ec" };

                string degree = random.Next(0, 360).ToString() + "deg";
                string colour1 = primaryColours[random.Next(primaryColours.Count)];
                string colour2 = secondaryColours[random.Next(secondaryColours.Count)];

                string image = project.image;
                string background = "background-image: linear-gradient(" + degree + ", " + colour1 + ", " + colour2 + "), url('" + image + "');";

                string name = Model._userService.GetNameByID(project.authorId);
                string names = Model._userService.GetNamesFromList(project.coAuthorIds);

                <a class="card" asp-area="" asp-page="/Project" asp-route-id="@project.id" style="@background">
                    <article class="">
                        <h2 class="title">@project.title</h2>
                        @*<p class="description">@project.description</p>*@
                        <p class="authors">
                            <strong>@name</strong><br />
                            @names
                        </p>
                    </article>
                </a>
            }
        </div>
    </div>
</section>